<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.hemoptysisheart.ditestapplication">

    <application
        android:name=".app.DiTestApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiTestApplication">
        <activity
            android:name=".app.activity.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.DiTestApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.Case1Activity"
            android:exported="false"
            android:label="@string/activity_case1_title"
            android:theme="@style/Theme.DiTestApplication" />
        <activity
            android:name=".app.activity.Case2Activity"
            android:exported="false"
            android:label="@string/activity_case2_title"
            android:theme="@style/Theme.DiTestApplication" />
        <activity
            android:name=".app.activity.Case3Activity"
            android:exported="false"
            android:label="@string/activity_case3_title"
            android:theme="@style/Theme.DiTestApplication" />
        <activity
            android:name=".app.activity.Case4Activity"
            android:exported="false"
            android:label="@string/activity_case4_title"
            android:theme="@style/Theme.DiTestApplication" />
        <activity
            android:name=".app.activity.Case5Activity"
            android:exported="false"
            android:label="@string/activity_case5_title"
            android:theme="@style/Theme.DiTestApplication" />
        <activity
            android:name=".app.activity.GroupedSettingActivity"
            android:exported="false"
            android:label="@string/activity_grouped_setting_title"
            android:theme="@style/Theme.DiTestApplication" />
    </application>
</manifest>
